<!DOCTYPE html>
<section class="advanteg">
    <div class="container">
        <h2 class="title-section">Преимущества работы с GlobalOpt</h2>
        <div class="advanteg__list">
            <div class="advanteg__item">
                <img src="../img/advanteg-icon-1.png" alt="advanteges" class="advanteg__img">
                <div class="advanteg__descr">
                    <div class="advanteg__title">Офисы в Китае и России</div>
                    <p class="advanteg__text">Офисы расположены в Москве, столице России. И в Гуанчжоу, мировом торговом
                        мегаполисе Китая.</p>
                </div>

            </div>
            <div class="advanteg__item">
                <img src="../img/advanteg-icon-2.png" alt="advanteges" class="advanteg__img">
                <div class="advanteg__descr">
                    <div class="advanteg__title">Декларируем груз с оптимизацие</div>
                    <p class="advanteg__text">Идем на встречу своим клиентам и помогаем растаможить груз с оптимизацией
                        кодов и ставок.</p>
                </div>

            </div>
            <div class="advanteg__item">
                <img src="../img/advanteg-icon-3.png" alt="advanteges" class="advanteg__img">
                <div class="advanteg__descr">
                    <div class="advanteg__title">Квалифицированные кадры</div>
                    <p class="advanteg__text">Наши сотрудники имеют большой опыт в логистике с Китаем и в совершенстве
                        владеют китайским и английским языками.</p>
                </div>

            </div>
            <div class="advanteg__item">
                <img src="../img/advanteg-icon-4.png" alt="advanteges" class="advanteg__img">
                <div class="advanteg__descr"> <div class="advanteg__title">Осуществляем поиск производителей</div>
                <p class="advanteg__text">Помогаем нашим клиентам найти интересующий вас товар или производителя в
                    Китае.</p></div>
               
            </div>
            <div class="advanteg__item">
                <img src="../img/advanteg-icon-5.png" alt="advanteges" class="advanteg__img">
                <div class="advanteg__descr"> <div class="advanteg__title">Собственный склад в Китае</div>
                <p class="advanteg__text">Свой склад в Китае, позволяет собирать и проверять и упаковывать ваши товары,
                    перед отправкой.</p></div>
               
            </div>
            <div class="advanteg__item">
                <img src="../img/advanteg-icon-6.png" alt="advanteges" class="advanteg__img">
                <div class="advanteg__descr"><div class="advanteg__title">Перевод денег в Китай</div>
                <p class="advanteg__text">Помогаем переводить и оплачивать товар в Китае на льготных условиях </p>
            </div></div>
                
            <div class="advanteg__item">
                <img src="../img/advanteg-icon-7.png" alt="advanteges" class="advanteg__img">
                <div class="advanteg__descr"><div class="advanteg__title">Делаем оптовые поставки под ключ</div>
                <p class="advanteg__text">Берём на себя все заботы связанные с закупкой, проверкой на качество,
                    логистикой и растаможкой. От вас требуется лишь заполнить техническое задание, одобрить образцы
                    товаров и после принять товар на своём складе!</p></div>
                
            </div>
            <div class="advanteg__item">
                <img src="../img/advanteg-icon-8.png" alt="advanteges" class="advanteg__img">
                <div class="advanteg__descr"><div class="advanteg__title">Поездка на производство в Китай</div>
                <p class="advanteg__text">У нас большой опыт в бизнес поездках по Китаю. Мы с большой радостью и
                    желанием организуем вам такую поездку в Китай под ключ. Сделаем визу, трансфер из аэропорта,
                    забронируем отель, предоставим переводчика. Организуем поездку на производство. Шоп тур. Мебельный
                    тур. </p></div>
                
            </div>
        </div>
    </div>
</section>