<!DOCTYPE html>
<section class="consultation">
    <div class="container">
        <h3 class="consultation__title">Заказать бесплатную консультацию</h3>
        <fieldset>
            <legend> <img src="../img//consultation-icon.png" alt="consultation"></legend>
            <form class="consultation__form">
                <input type="text" placeholder="Ваше имя..." class="consultation__field">
                <input type="tel" placeholder="Ваш номер телефона..." class="consultation__field">
                <input type="email" placeholder="Ваш e-mail..." class="consultation__field">
                <div class="consultation__positioned"> <button type="submit" class="button button_middle"> Отправить
                        заявку</button> </div>
            </form>
        </fieldset>
    </div>
</section>