<!DOCTYPE html>
<section class="our-work">
    <div class="container">
        <h2 class="title-section title-section_with-line">
            Наша работа - больше чем просто доставка
        </h2>
        <div class="section_subtitle">Мы организуем перевозки из Китая - оперативно и надежно, с учетом особенностей груза
            и ваших требований по срокам и бюджету.</div>
            <div class="our-work__list">
                <div class="our-work__item">
                    <img src="../img/our-work-img-1.jpg" alt="insurance">
                    <div class="our-work__title">Страховка груза</div>
                    <p class="our-work__descr">Все грузы, логистику которых осуществляет Global Opt, застрахованы. Мы гарантируем полное возмещение стоимости груза в случаях, предусмотренных страхо- вым соглашением. Все ваши тревоги наша компания берет на себя.</p>
                </div>
                <div class="our-work__item">
                    <img src="../img/our-work-img-2.jpg" alt="logistics">
                    <div class="our-work__title">Логистика последней мили</div>
                    <p class="our-work__descr">Мы осуществляем доставку вашего груза до конкретного адреса. Привоз согласовывается менед- жерами по телефону, предварительно за сутки и за час до доставки. Также мы предоставляем услуги грузчи- ков по месту доставки груза.</p>
                </div>
                <div class="our-work__item">
                    <img src="../img/our-work-img-3.jpg" alt="look-forward">
                    <div class="our-work__title">Мы всегда смотрим вперед</div>
                    <p class="our-work__descr">Философия нашей компании, делать себя и своих партнеров по всему миру, успешными и богатыми. Поэтому мы всегда открыты к диалогу о партнерстве и инвестициях. </p>
                </div>
            </div>
    </div>
</section>