<!DOCTYPE html>
<section class="price">
    <div class="container">
        <h2 class="title-section title-section_with-line">Цены на любой вариант доставки</h2>
        <div class="section_subtitle">Перевозки грузов на дальние расстояния без каких-либо ограничений.
            Любой груз доставим вовремя. </div>
        <div class="price__list">
            <div class="price__item">
                <div class="price__form">Доставка морем</div>
                <div class="price__detail">
                    <img src="../img/price-form-icon-1.png" alt="ship">
                    <div class="price__delivery">Доставка 35-50 дней
                      <br/> <span>от 0,3$ за 1 кг</span> </div>
                    <div class="price__delivery_descr">Морские перевозки грузов из Китая в Россию за 35 дней
                        с прохождением таможни </div>
                    <button class="button button_main"> Подробнее</button>
                </div>
            </div>
            <div class="price__item">
                <div class="price__form">Ж/Д доставка</div>
                <div class="price__detail">
                    <img src="../img/price-form-icon-2.png" alt="ship">
                    <div class="price__delivery">Доставка 15-28 дней
                      <br/> <span>от 1$ за 1 кг</span> </div>
                    <div class="price__delivery_descr">ЖД перевозки грузов из Китая в Россию от 2 недель 
                        с прохождением таможни </div>
                    <button class="button button_main"> Подробнее</button>
                </div>
            </div>
            <div class="price__item">
                <div class="price__form">Автодоставка</div>
                <div class="price__detail">
                    <img src="../img/price-form-icon-3.png" alt="ship">
                    <div class="price__delivery">Доставка 12-20 дня
                      <br/> <span>от 0,3$ за 1 кг</span> </div>
                    <div class="price__delivery_descr">Автоперевозки грузов из Китая в Россию от 2 недель 
                        с прохождением таможни </div>
                    <button class="button button_main"> Подробнее</button>
                </div>
            </div>
            <div class="price__item">
                <div class="price__form">Авиа доставка</div>
                <div class="price__detail">
                    <img src="../img/price-form-icon-4.png" alt="ship">
                    <div class="price__delivery">Доставка 1-12 дней
                      <br/> <span>от 6$ за 1 кг</span> </div>
                    <div class="price__delivery_descr">Авиаперевозки грузов из Китая в Россию до 2 недель 
                        с прохождением таможни</div>
                    <button class="button button_main"> Подробнее</button>
                </div>
            </div>
        </div>
    </div>
</section>