<!DOCTYPE html>
<section class="work-scheme">
    <div class="container">
        <h2 class="title-section">Схема работы с нами</h2>
        <ul class="work-scheme__list">
            <li class="work-scheme__item">
                <img src="../img/work-scheme-1.png" alt="step-1">
                <div class="work-scheme__title">Заявка</div>
                <p class="work-scheme__descr">Вы оставляете заявку на нашем сайте или звоните нам</p>
            </li>
            <li class="work-scheme__item">
                <img src="../img/work-scheme-2.png" alt="step-2">
                <div class="work-scheme__title">Аналитика доставки</div>
                <p class="work-scheme__descr">Мы просчитываем варианты доставки Вашего груза</p>
            </li>
            <li class="work-scheme__item">
                <img src="../img/work-scheme-3.png" alt="step-3">
                <div class="work-scheme__title">Договор</div>
                <p class="work-scheme__descr">Заключаем с Вами договор о поставке груза из Китая</p>
            </li>
            <li class="work-scheme__item">
                <img src="../img/work-scheme-4.png" alt="step-4">
                <div class="work-scheme__title">Доставка на наш склад</div>
                <p class="work-scheme__descr">Связываемся с Вашим поставщиком в Китае и договариваемся о доставке груза на наш склад</p>
            </li>
            <li class="work-scheme__item">
                <img src="../img/work-scheme-5.png" alt="step-5">
                <div class="work-scheme__title">Проверка груза</div>
                <p class="work-scheme__descr">Мы проверяем, собираем и упаковываем перед отправкой Ваш груз на своём складе</p>
            </li>
            <li class="work-scheme__item">
                <img src="../img/work-scheme-6.png" alt="step-6">
                <div class="work-scheme__title">Доставка груза</div>
                <p class="work-scheme__descr">Мы перевозим ваш груз до места назначения и производим таможенную очистку</p>
            </li>
            <li class="work-scheme__item">
                <img src="../img/work-scheme-7.png" alt="step-7">
                <div class="work-scheme__title">Оплата</div>
                <p class="work-scheme__descr">Оплачиваете доставку груза при получении </p>
            </li>
           
        </ul>
    </div>
</section>